In [26]:
# This program prints Hello, world!

print('Hello, world!')

Hello, world!

In [27]:
from datetime import datetime

now = datetime.now()

current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

Current Time = 15:34:51

In [28]:
INSERT INTO `game_list` (`id`, `name`, `code`, `type`, `provider_id`, `provider_name`, `lang_code`, `status`, `created`, `img`) VALUES (NULL, 'Gargoyle Infinity Reels', '125', '1', '145', 'YGG-SBO', 'G00011', '1', '2022-04-15 18:16:39', 'Online-Casino-Slot-Game-YGG-Gargoyle-Infinity-Reels-Siam66-Thailand.jpg');

SyntaxError: invalid syntax (351530060.py, line 1)

In [ ]:
import csv

with open('data.csv', newline='') as csvfile:
    data = list(csv.reader(csvfile))

# print(data)



table = '`game_list`'
bracket_open = '('
bracket_close = ')'
uid = '1'
name = 'abc'
code = '112'
type = '1'
provider_id = '2'
provider_name = 'PP'
lang_code = 'G00100'
status = '1'
created = '2021-08-26 12:39:14'
img = 'abc.jpg'

print('INSERT INTO',table,'(','`id`','`name`', '`code`', '`type`', '`provider_id`', '`provider_name`', '`lang_code`', '`status`', '`created`', '`img`',')','VALUES',
'(','NULL',',''`',name,'`',',''`',code,'`',',''`',type,'`',',''`',provider_id,'`',',''`',provider_name,'`',',''`',lang_code,'`',',''`',status,'`',',''`',created,'`',',''`',img,'`')

INSERT INTO `game_list` ( `id` `name` `code` `type` `provider_id` `provider_name` `lang_code` `status` `created` `img` ) VALUES ( NULL ,` abc ` ,` 112 ` ,` 1 ` ,` 2 ` ,` PP ` ,` G00100 ` ,` 1 ` ,` 2021-08-26 12:39:14 ` ,` abc.jpg `

In [ ]:
import csv

with open('data.csv', "rt", encoding='ascii') as infile:
    read = csv.reader(infile)
    for row in read :
        print (row)

['name', 'code']
['Flip Royale', 'QS-fliproyale']
['Folsom Prison', 'NLC-folsomprison']

In [ ]:
a = '222'
b = '333'
table = '`game_list`'
def game(name,code):

  print('INSERT INTO',table,'(','`id`','`name`', '`code`'')','VALUES','(','NULL',',''`',name,'`',',''`',code,'`',')')


game("122","2")
game("77","6")
game(a,b)

INSERT INTO `game_list` ( `id` `name` `code`) VALUES ( NULL ,` 122 ` ,` 2 ` )
INSERT INTO `game_list` ( `id` `name` `code`) VALUES ( NULL ,` 77 ` ,` 6 ` )
INSERT INTO `game_list` ( `id` `name` `code`) VALUES ( NULL ,` 222 ` ,` 333 ` )

In [40]:
import pandas as pd

pd.options.display.max_rows = 9999

df = pd.read_csv('data.csv')
df = pd.DataFrame(df)

table = '`game_list`'
type_ = '1'
provider_id = '33'
provider_name = 'QS'
lang_code = 'G00100'
status = '1'
created = '2021-08-26 12:39:14'
img = 'abc.jpg'
sym = "'"
a = "` ( `"

def game(name,code):

  
  print('INSERT INTO',table,'(','`id`',',','`name`',',','`code`',',','`type`',',','`provider_id`',',','`provider_name`',',','`lang_code`',',','`status`',',','`created`',',','`img`',')','VALUES',
'(','NULL',',',repr(name),',',repr(code),',',repr(type_),',',repr(provider_id),',',repr(provider_name),',',repr(lang_code),',',repr(status),',',repr(created),',',repr(img),')',';')
 
  # print(',',repr(name),',')

for row in df.itertuples():
    game(row.name,row.code)
    
    # print(row.name,row.code)
   
# print(df) 
# isinstance([df], list)

f = open("test.txt", "w")
f.write(row.name)
f.close()

a = '222'
b = '333'



# game("122","2")
# game("77","6")

INSERT INTO `game_list` ( `id` , `name` , `code` , `type` , `provider_id` , `provider_name` , `lang_code` , `status` , `created` , `img` ) VALUES ( NULL , 'Flip Royale' , 'QS-fliproyale' , '1' , '33' , 'QS' , 'G00100' , '1' , '2021-08-26 12:39:14' , 'abc.jpg' ) ;
INSERT INTO `game_list` ( `id` , `name` , `code` , `type` , `provider_id` , `provider_name` , `lang_code` , `status` , `created` , `img` ) VALUES ( NULL , 'Folsom Prison' , 'NLC-folsomprison' , '1' , '33' , 'QS' , 'G00100' , '1' , '2021-08-26 12:39:14' , 'abc.jpg' ) ;

In [ ]:
print(',',repr(name),',',repr(code),',',repr(type_),',',repr(provider_id),',',repr(provider_name),',',repr(lang_code),',',repr(status),',',repr(created),',',repr(img))